@use "styles/colors";
@use "styles/spacing";
@use "styles/typography";
@use "styles/transitions";

.artistRow {
    padding: spacing.$spacing-2;
    display: flex;
    align-items: center;
    transition-duration: transitions.$duration-75;
    height: spacing.$spacing-14;
    width: 100%;

    &:hover,
    &:focus {
        background-color: colors.$zinc-800;
    }
}
.artistPortrait {
    height: 100%;
    border-radius: 100%;
}

.artistName {
    padding: 0 spacing.$spacing-2;
    @include typography.font-medium;
    @include typography.tracking-wider;
    @include typography.text-truncate;
}
