@use "styles/colors";
@use "styles/spacing";
@use "styles/transitions";
@use "styles/typography";

.trackRow {
    transition-duration: transitions.$duration-75;
    width: 100%;
    &:hover,
    &:focus {
        background-color: colors.$zinc-800;
    }
    height: spacing.$spacing-16;

}

.trackAlbumArtwork {
    height: 100%;
}

.trackInfo {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0 spacing.$spacing-2;
    text-align: left;
    overflow: hidden;
}

.trackName {
    @include typography.font-semibold;
    @include typography.text-truncate;
    @include typography.tracking-wide;
    color: colors.$zinc-200;
}

.trackArtist {
    @include typography.text-sm;
    @include typography.text-truncate;
    color: colors.$zinc-400;
}

.trackPlayToggle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: spacing.$spacing-2;
}

.pause {
    height: 100%;
    width: spacing.$spacing-12;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: transitions.$duration-100;
}

.add {
    height: 100%;
    width: spacing.$spacing-12;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}